<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :first_name %> <%= f.text_field :first_name %></p>
    <p><%= f.label :last_name %> <%= f.text_field :last_name %></p>
    <p><%= f.label :email %> <%= f.text_field :email %></p>
    <% if action_name == "new" %>
    <p><%= f.label :password %><%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation %><%= f.password_field :password_confirmation %></p>
    <% end %>
    <p><%= f.label :deparment %> <%= f.text_field :department %></p>
    <p><%= f.label :role %> <%= f.text_field :role %></p>
    <p><%= f.label :office_phone %> <%= f.text_field :office_phone %></p>
    <p><%= f.label :mobile_phone %> <%= f.text_field :mobile_phone %></p>
    <p><%= f.label :address %> <%= f.text_field :address %></p>
    <p><%= f.label :manager_id %> <%= collection_select :user, :manager_id, User.all, :id, :full_name, :prompt => true %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
