<dl>
  <div><dt>First Name</dt><dd><%= @user.first_name %></dd></div>
  <div><dt>Last Name</dt><dd><%= @user.last_name %></dd></div>
  <div><dt>Email</dt><dd><%= mail_to @user.email %></dd></div>
  <div><dt>Department</dt><dd><%= @user.department %></dd></div>
  <div><dt>Role</dt><dd><%= @user.role %></dd></div>
  <div><dt>Office Phone</dt><dd><%= @user.office_phone %></dd></div>
  <div><dt>Mobile Phone</dt><dd><%= @user.mobile_phone %></dd></div>
  <div><dt>Address</dt><dd><%= @user.address %></dd></div>
  <div><dt>Manager</dt><dd><%= link_to @user.parent.full_name, @user.parent if @user.parent %></dd></div>
</dl>

<%= link_to 'Edit', edit_user_path(@user), :class => 'button' %>
<%= link_to 'Delete', user_path(@account), :confirm => 'Are you sure you want to delete this user?', :method => :delete, :class => 'button' %>
