<%= simple_form_for(@timesheet) do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>
      <ul>
      <% @timesheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :account %>
  <%= f.input :day, :as => :string, :input_html => { :class => 'date' } %>
  <%= f.input :hours, :collection => 1..16, :label => 'Hours', :selected => '8' %>  

  <%= f.button :submit, 'Update' %>
  <%= link_to 'Delete', timesheet_path(@timesheet), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %>
<% end %>
