<div id="calendar">
  <%= render :partial => 'shared/month_header', :locals => { :path => timesheets_path } %>

  <%= calendar_for @timesheets, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |cal| %>
  <%= cal.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
  <%= cal.day(:day_method => :day) do |date, timesheets| %>
    <%= date.day %>
      <%= link_to new_timesheet_day_path(:y => date.year, :m => date.month, :d => date.day), :class => "right add-link" do %>
       <span class="i">+</span> Add
      <% end %>
    <ul>
    <% for t in timesheets %>
      <li style="background-color: <%= t.account.category.color if t.account.category %>;"><%= link_to t.account.name, edit_timesheet_path(t) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
</div>

<h2>Add entries</h2>

<%= simple_form_for @timesheet, :url => timesheets_month_path(:y => @date.year, :m => @date.month ) do |f| %>  
  <p>
    <div class="ib">
      <%= label_tag :from, "From" %><%= text_field_tag :from, @date.beginning_of_month, :class => 'date' %>
    </div>
    <div class="ib">
      <%= label_tag :to, "To"%><%= text_field_tag :to, @date.end_of_month, :class => 'date' %></p>
    </div>
  <p>
  <%= check_box_tag "days[]", '1', true, :id => :monday %> <%= label_tag :monday, 'Monday'%>
  <%= check_box_tag "days[]", '2', true, :id => :tuesday %> <%= label_tag :tuesday, 'Tuesday'%>
  <%= check_box_tag "days[]", '3', true, :id => :wednesday %> <%= label_tag :wednesday, 'Wednesday'%>
  <%= check_box_tag "days[]", '4', true, :id => :thursday %> <%= label_tag :thursday, 'Thursday'%>
  <%= check_box_tag "days[]", '5', true, :id => :friday %> <%= label_tag :friday, 'Friday'%>
  <%= check_box_tag "days[]", '6', false, :id => :saturday %> <%= label_tag :saturday, 'Saturday'%>
  <%= check_box_tag "days[]", '0', false, :id => :sunday %> <%= label_tag :sunday, 'Sunday'%>
  <%= hidden_field_tag :month, @date %>
  </p>
  <%= f.association :account %>  
  <%= f.input :hours, :collection => 1..16, :label => 'Hours per day', :selected => '8' %>  
  <p><%= f.button :submit, 'Add' %></p> 
<% end %>  
