<dl>
  <div><dt>User</dt><dd><%= @timesheet.user.full_name %></dd></div>
  <div><dt>Account</dt><dd><%= @timesheet.account.name %></dd></div>
  <div><dt>Day</dt><dd><%= @timesheet.day %></dd></div>
  <div><dt>Hours</dt><dd><%= @timesheet.hours %></dd></div>
</dl>

<%= link_to 'Edit', edit_timesheet_path(@timesheet), :class => 'button' %>
<%= link_to 'Delete', timesheet_path(@timesheet), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %>
