<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><%= f.email_field :email, :tabindex => 1 %></p>
  <p>
    <%= f.label :password %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <%= f.password_field :password, :tabindex => 2 %>
  </p>

  <% if devise_mapping.rememberable? -%>
  <p><%= f.check_box :remember_me, :tabindex => 3 %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Log in", :tabindex => 4 %>
  No account? <%= link_to 'Sign up', new_user_registration_path %> </p>
<% end %>

