<div class="grid-16">
  <div class="center-form">
    <h2>Log in</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %><br />
        <% end -%>

        <%= f.submit "Sign in" %>
      </fieldset>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
    <% end -%>
  </div>
</div>
