<% content_for :stylesheets do %>
<%= stylesheet_link_tag "application"%>
<% end %>

<% content_for :body do %>
<header>
  <div class="row">
    <div class="grid-6">
      <h5 class="logo"><%= link_to 'OpenERP', root_path %></h5>
    </div> 
    <ul class="grid-10 tar u-menu">
      <li><%= link_to 'Sign out', destroy_user_session_path %></li>
      <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path %></li>
    </ul>
  </div>
</header>

<div id="content">
  <div class="row">
    <div class="grid-3">
      <h6 class="title">Overview</h6>
      <ul class="v-menu">
        <li><%= link_to 'Dashboard', accounts_path %></li>
        <li><%= link_to 'Planning', accounts_path %></li>
        <li><%= link_to 'Invoices', accounts_path %></li>
      </ul>
      <h6 class="title">Time &amp; Expenses</h6>
      <ul class="v-menu">
        <li><%= link_to 'My Timesheets', accounts_path %></li>
        <li><%= link_to 'My Expenses', accounts_path %></li>
      </ul>
      <h6 class="title">Administration</h6>
      <ul class="v-menu">
        <li><%= link_to 'Users', accounts_path %></li>
        <li><%= link_to 'Accounts', accounts_path %></li>
      </ul>
    </div>

    <div class="grid-13">
      <% if notice %>
      <p class="success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="error"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <%= link_to 'Documentation', documentation_path %>
  </div>
</footer>
<% end %>
<%= render :file => 'layouts/base' %>
