<% content_for :extra_header do %>
<%= stylesheet_link_tag "application"%>
<%= javascript_include_tag "jquery.tools.min"%>
<% end %>

<% content_for :body do %>
<header>
  <div class="row">
    <div class="grid-6"></div> 
    <ul class="grid-10 h-menu right">
      <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path %></li>
    </ul>
  </div>
</header>

<div id="content">
  <div class="row">
    <div class="grid-3">
      <h3 class="title">Overview</h3>
      <ul class="v-menu">
        <li><%= link_to 'Dashboard', accounts_path %></li>
        <li><%= link_to 'Planning', accounts_path %></li>
        <li><%= link_to 'Invoices', accounts_path %></li>
      </ul>
      <h3 class="title">Time &amp; Expenses</h3>
      <ul class="v-menu">
        <li><%= link_to 'My Timesheets', timesheets_path %></li>
        <li><%= link_to 'My Holidays', accounts_path %></li>
        <li><%= link_to 'My Expenses', accounts_path %></li>
      </ul>
      <h3 class="title">Administration</h3>
      <ul class="v-menu">
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Accounts', accounts_path %></li>
      </ul>
      <h3 class="title">Configuration</h3>
      <ul class="v-menu">
        <li><%= link_to 'Account Categories', account_categories_path %></li>
      </ul>
    </div>

    <div class="grid-13">
      <% if notice %>
      <p class="success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="error"><%= alert %></p>
      <% end %>

      <h1><%= @title %></h1>
      <%= yield %>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <%= link_to 'Documentation', documentation_path %>
  </div>
</footer>
<% end %>
<%= render :file => 'layouts/base' %>
